/* event listing do blokov na sprehladnenie */

.tribe-events-list-separator-month.events-separator {
	background-color: #ECDCBE;
}

.event-footer{
	margin-top: 20px;
}

.tribe-events-list-separator-month+.type-tribe_events.tribe-events-first.event-first{
	padding: 20px;
}

.tribe-events-list .type-tribe_events.tribe-event-end-month.event-last {
	padding: 20px;
}

.tribe-events-list .type-tribe_events.event-wrap {
	padding: 20px;
	margin-top: 20px;
    border-left: 1px solid #ddd;
  	border-right: 1px solid #ddd;
  	border-top: 1px solid #ddd;
	box-shadow: 0px 21px 18px -21px rgba(50,50,50,1);
	transition: all 0.3s;
}

.tribe-events-list 
.type-tribe_events.event-wrap.tribe-events-category-trening
{
	background-color: rgba(240, 150, 68, 0.1);
}

.tribe-events-list 
.type-tribe_events.event-wrap.tribe-events-category-vystupenie
{
	background-color: rgba(75, 192, 156, 0.1);
}

.tribe-events-list .type-tribe_events.event-wrap:hover
{
	box-shadow: none;
	background-color: rgba(250, 250, 250, 0.3);
}

.tribe-events-list .type-tribe_events.event-wrap a:hover
{
	color: #333;
}

.tribe-events-loop .type-tribe_events.tribe-events-last,
.tribe-events-list .type-tribe_events.tribe-event-end-month
{
	border-bottom: 1px solid #ddd !important;
}

.tribe-events-month-event-title.summary
a
{
	color: #330;
}

.tribe-events-month-event-title.summary
a:hover
{
	text-decoration: underline !important;
}
/*
.tribe-events-category-vystupenie
.tribe-events-month-event-title,
.tribe-events-category-trening
.tribe-events-month-event-title,
.tribe-events-category-trening,
.tribe-events-category-vystupenie
{
	height: 100%;
}*/



td.tribe-events-has-events
.tribe-events-month-event-title 
{
	 padding: 3px !important; 
}

.tribe-events-category-trening
/*.tribe-events-month-event-title*/
{
	background-color: rgba(240, 150, 68, 0.5); 
}

.tribe-events-category-vystupenie
/*.tribe-events-month-event-title*/
{
	background-color:  rgba(75, 192, 156, 0.5);
}

td.tribe-events-has-events
{
	overflow: hidden;
	padding: 0 !important;
}

.hentry.vevent
{
	height: 100px 
} 

/**/