.users
{
	position: relative
}

.user
{
	display: inline-block;
	position: relative;
	transition: all 0.3s;
}

.user.ajax-description {
	cursor: pointer;
}

.user .name {
	position: absolute;
	bottom: 5px;
	left: 0px;
	padding: 7px;
}

section.description-placeholder
{
	display: none;
	background-color: #bbbbbb;
	opacity: 0.7;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
	left: 0;
}

.user.ajax-description.clicked + .description-placeholder
{
	display: block;	
	width: 1000px;
	/* height: 250px; */
	opacity: 1;
	left: 15%;
	top: 30%;
	z-index: 10;
	position: fixed;
	/* background-color: #ebebeb; */
	/* max-width: 60%; */
	z-index: 10;
	padding-bottom: 5px;
	background: url(subtle_white_feathers.png);
	box-shadow: 17px 21px 18px -21px rgba(50, 50, 50, 1);
}

.user.ajax-description.clicked 
+ .description-placeholder.logout
{
	width: 276px;
	text-align: center;	
}

.user.ajax-description.clicked 
+ .description-placeholder.logged
{
	width: auto;
	padding-right: 50px;
}
.user.ajax-description.clicked 
+ .description-placeholder.logout span
{
	margin-left: 0;
}

@desc-anim
{
	from
	{
		width: 0;
		height: 0;
		opacity: 0;	
	}
	to
	{
		width: 400px;
		height: 200px;
		opacity: 1;
	}
}

div.description-placeholder 
{
	display: none;
}

.user .photo img
{
	opacity: 0.25;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  transition: all 0.5s;
}


.user .photo img:hover 
{
	opacity: 1;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.user.clicked img
{
opacity: 1;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);	
}

.photo_des
{
	margin-left: 10px;
	margin-top: 10px;
	
	display: inline-block;
	vertical-align: top;
}

.name_des
{
    display:  inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 7px;
}

span.description
{
	display: block;
	width: 800px;
	margin-left: 10px;
	vertical-align: top;
	margin-right: 0;
	vertical-align: bottom;
	/* position: relative; */
	/* top: -120px; */
	/* left: 160px; */
}

.div_des
{
	display: inline-block;
}