ul.menu {
	margin: 0;
}

ul.sub-menu {
	display: none;
	position: absolute;
	padding: 0;
}

.menu-item {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.menu-item a {
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	color:black;
}

.current-page-ancestor .sub-menu {
	display: block;
}